{% extends 'polls/layouts.html' %}

{% block content %}
    <h3 class="center-align red lighten-3">  {{question.question_text}}</h3>

    <form action="{% url 'vote' question.id %}" method="post">
    {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
    <input type="submit" value="Vote" />
    </form>

    <a href="/polls" class="btn">Go Back</a>
{% endblock%}